


#app {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  position: fixed;
  height: 200px;
  width: 400px;
  bottom: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}
